!!! 5
%html
	%head
		%link{rel:'stylesheet',href:'http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'}
		%script{type:'text/javascript',src:'https://code.jquery.com/jquery-2.1.1.min.js'}
	%body
		%nav.navbar
			.container
				.navbar-header
					%a.navbar-brand queued tweets
				.collapse.navbar-collapse
					%ul.nav.navbar-nav
						%li
							- if current_user
								%a{href:'/logout'} logout
							- else
								%a{href:'/auth/twitter'} login
		.container
			!= yield
	
